/* En-tête de page */
.page-header {
  margin-bottom: 25px;
  text-align: center;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 8px;
  padding-top: 80px; /* ajuste selon la hauteur de ton header */
}

.page-subtitle {
  font-size: 16px;
  color: #6c757d;
  font-style: italic;
}

/* Tableau */
.students-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.students-table {
  width: 100%;
  border-collapse: collapse;
}

.students-table th,
.students-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.students-table th {
  background-color: #48294b;
  color: rgb(255, 253, 253);
}

/* Boutons */
.btn-add-student {
  background-color: #8d5a8f;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  margin-bottom: 15px;
}

.btn-edit {
  background-color: #ffc107;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
}

.btn-delete {
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  border-radius: 12
}