.header {
  display: flex;
  position: fixed;
  width: 85%; 
  justify-content: space-between;
  margin-left: 260px;
  align-items: center;
  background: #ffffff; /* violet élégant */
  color: #333232;
  padding: 12px ;
}

.header-title {
  font-size: 20px;
  font-weight: 700;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 20px; /* ✅ ajoute un espace à gauche du bloc */
}

.icon-btn {
  background: none;
  border: none;
  color: #792c6e;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  margin-left: 10px; /* ✅ espace entre chaque icône */
}

.icon-btn:hover {
  transform: scale(1.2);
  color: #3f1841; /* jaune doré au survol */
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 15px; /* ✅ espace avant le profil */
}

.admin-name {
  font-weight: 600;
}

.admin-avatar-icon {
  font-size: 32px;
  color: #b94fc7;
  transition: color 0.2s ease;
}

.admin-avatar-icon:hover {
  color: #5b1172; /* turquoise au survol */
}
