.personnel-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  justify-content: space-between;
}

/* Tableau */
.personnel-table {
  width: 100%;
  border-collapse: collapse;
  flex-grow: 1;
}

.personnel-table th,
.personnel-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.personnel-table th {
  background-color: #2f2049; /* violet élégant */
  color: white;
}

/* Boutons */
.btn-add-personnel {
  background-color: #d871c2;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  margin-bottom: 15px;
}

.btn-edit {
  background-color: #ffc107;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete {
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.pagination button {
  background-color: #d873bf;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-weight: bold;
}

/* Popup */
.popup-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 450px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  animation: slideDown 0.4s ease;
}

.popup-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #6f42c1;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-group input:focus {
  border-color: #211538;
  outline: none;
  box-shadow: 0 0 5;
}