/* Sidebar container */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e1e2f;   /* Bleu nuit sobre */
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

/* Title */
.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Menu list */
.sidebar-menu {
  list-style: none;
  padding: 0;
}

/* Links */
.sidebar-menu li {
  margin-bottom: 18px;
}

.sidebar-menu a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 16px;
  transition: 0.3s ease;
}

.sidebar-menu a:hover {
  color: rgb(224, 205, 224);
  padding-left: 6px;
}

/* Logout style */
.logout a {
  color: #e71c1c;
  font-weight: bold;
}
.logout a:hover {
  color: red;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px; /* espace entre icône et texte */
  padding: 10px;
  border-radius: 6px;
  transition: background 0.2s;
}

.sidebar-menu li a:hover {
  background: #334155;
}
